* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

$colors: (
  "primary-light": #fcf8e8,
  "primary": #dad6c5,
  "primary-dark": #2e2914,
  "complementary-light": #d4e2d4,
  "complementary": #b5c2b5,
  "complementary-dark": #374237,
  "accent-light": #df7861,
  "accent": #c16854,
  "accent-dark": #49271f,
  "primary-text": #24423b,
  "back-portfolio": #ecb390,
  "back-input": #fdf4e8,
);

$font-size: (
  "title": calc(2vw + 3em),
  "subtitle": calc(1.8em + 1vw),
  "main-font": 18px,
  "small-text": calc(0.9em + 0.5vw),
  "header-card": calc(1.5em + 0.8vw),
  "line-height": 35px,
);

body {
  font-family: "Poppins", sans-serif;
}

.container {
  overflow: hidden;
  position: relative;
}

.container::before {
  content: "";
  display: none;
  background: radial-gradient(transparent, #383227);
  position: fixed;
  top: -25vh;
  left: -25vw;
  width: 150vw;
  height: 150vh;
  opacity: .3;
  z-index: 150;
}

.space-style {
  padding: 0 4vw;
}

.container-header-hero {
  background: url("../assets/back-paper-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  & .App-header {
    padding-top: 3vh;
    opacity: 1;
    position: relative;
    z-index: 200;

    .App-nav-links {
      transition: all linear .3s;
      height: 0vh;
      opacity: 0;
    }

    .App-nav-links.open {
      height: 50vh;
      opacity: 1;
    }
    .App-nav-content-links {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;
      & .nav-link {
        cursor: pointer;
        color: map-get($colors, "primary-text");
        font-size: map-get($font-size, "main-font");
        font-weight: 500;
        letter-spacing: 1px;
      }
    }
    .content-button-nav {
      // border: 2px solid red;
      position: absolute;
      top: 3vh;
      right: 3vw;
      width: 48px;
      height: 48px;
      & .iconify {
        transition: all linear .3s;
        display: block;
      }
      & svg {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      & .open-icon.close {
        opacity: 0;
      }
      & .close-icon {
        opacity: 0;
      }
      & .close-icon.open {
        opacity: 1;
      }
    }
  }
  & .App-hero {
    height: calc(100vh - 3vh);
    padding-top: 2vh;
    & .App-hero-content {
      height: 100%;
      position: relative;
      & .App-hero-content-info-action {
        height: 100%;
        position: relative;
        z-index: 100;
        & .App-hero-info {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        .App-info {
          color: map-get($colors, "primary-text");
          & h1,
          h2,
          h6 {
            padding-top: 1vh;
          }
          & .App-hero-role {
            font-size: map-get($font-size, "title");
            font-weight: 600;
          }

          & .App-hero-name {
            font-size: map-get($font-size, "subtitle");
            font-weight: 500;
          }

          & .App-hero-capture {
            font-size: map-get($font-size, "small-text");
            font-weight: 400;
          }
        }

        .App-action {
          padding-bottom: 10vh;
          & .content-button-contact {
            display: flex;
            justify-content: flex-end;
            padding-top: 5vh;
            & button {
              border: none;
              background: none;
              background-color: map-get($colors, "accent-light");
              border-radius: 50px;
              cursor: pointer;
              color: map-get($colors, "primary-text");
              font-size: map-get($font-size, "main-font");
              font-weight: 600;
              padding: 2vh 12vw;
            }
          }
        }
      }
      & .App-hero-content-image {
        & .content-image {
          height: 100vh;
          width: 100%;
          position: relative;
          // transform: translateY(-100vh);
          transform: translateY(-90vh) translateX(15%);
          padding-top: 30vh;
          & img {
            width: 100%;
            transform: scale(1.8);
          }
        }
      }

      & .App-hero-content-scroll {
        // border: 2px solid rgb(6, 42, 14);
        border-radius: 100px ;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        bottom: 10vh;
        width: 150px;
        height: 150px;
        opacity: 0;
        transform: rotate(-20px);
        & img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

//About me ///////////////////

.App-about-me {
  background-color: map-get($colors, "complementary-light");
  padding: 10vh 0 40vh 0;
  & .App-about-me-content {
    & .App-about-me-header {
      display: flex;
      flex-direction: column-reverse;

      & .App-about-me-photo {
        padding-top: 10vh;
        transform: scale(0.8);
      }

      & .App-about-me-title {
        text-align: end;
        & h1 {
          color: map-get($colors, "primary-text");
          font-size: map-get($font-size, "title");
          font-weight: 600;
          letter-spacing: 1px;
        }
      }
    }
    & .about-me-info {
      padding-top: 10vh;
      & p {
        color: map-get($colors, "primary-text");
        margin-top: 4vh;
        font-size: map-get($font-size, "main-font");
        line-height: map-get($font-size, "line-height");
        letter-spacing: 1px;
        font-weight: 500;
      }
    }
    & .wrapper-title-portfolio {
      position: relative;
      display: flex;
      justify-content: flex-end;
      & .about-me-title-portfolio {
        background: url("../assets/rollo-portfolio.png");
        background-size: cover;
        color: map-get($colors, "primary-light");
        display: flex;
        justify-content: center;
        padding: 2vh 0;
        margin-top: 20vh;
      }
    }

    & .about-me-title-portfolio h1 {
      font-size: map-get($font-size, "title");
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
}
//Portfolio///////////////
.App-portfolio {
  background-color: map-get($colors, "back-portfolio");
  & .App-portfolio-content-img-title {
    transform: translate(-15%, -25%) scale(1.7);
  }

  & .App-portfolio-content-img-title img {
    width: 100%;
  }

  .App-portfolio-content-photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20vh 7vw;
    transform: scale(0.8);
    & .portfolio-content-photos {
      display: flex;
      justify-content: center;
      margin-top: 14vh;
      position: relative;
      aspect-ratio: 1/1;
      & .portfolio-content-paper {
        background: url("../assets/name-label.png");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 2px solid red;
        position: absolute;
        top: -75px;
        width: 220px;
        height: 120px;
        & h6 {
          color: map-get($colors, "primary-text");
          font-size: map-get($font-size, "main-font");
          font-weight: 500;
          letter-spacing: 1px;
        }
      }
      & img {
        width: 100%;
        
        object-fit: contain;
      }
    }
    & .portfolio-content-photos:first-child {
      margin: 0;
    }
  }
}

//Testimony
.App-testimony {
  background-color: map-get($colors, "complementary-dark");
  padding: 20vh 0;

  & .App-testimony-clients {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10vh 5vw;
    padding-top: 15vh;
  }
  & .App-testimony-header h1 {
    color: map-get($colors, "primary-light");
    text-align: center;
    font-size: map-get($font-size, "title");
    font-weight: 600;
    letter-spacing: 1px;
  }
  .testimony {
    background: url("../assets/card-paper.png");
    background-size: cover;
    color: map-get($colors, "primary-text");
    height: 60vh;
    padding: 8vh 6vw;
    // margin-top: 6vh;
    transform: scale(.8);
    & h4 {
      padding-top: 2vh;
      text-align: center;
      font-size: map-get($font-size, "header-card");
      letter-spacing: 1px;
    }
    & .testimony-content-testimony {
      padding-top: 4vh;
      & p {
        font-size: map-get($font-size, "main-font");
        font-weight: 500;
        letter-spacing: 1px;
      }
    }
  }
}

.wrapper-service-footer {
  background: url("../assets/back-services.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: map-get($colors, "primary-text");
  padding: 10vh 0 0 0;

  .App-service-content-title {
    text-align: center;
    & .service-content-title h1 {
      font-size: map-get($font-size, "title");
      font-weight: 600;
      letter-spacing: 1px;
    }
    & .service-content-title h4 {
      font-size: map-get($font-size, "main-font");
      margin-top: 2vh;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }

  .App-service-content-services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10vh 10vw;
    padding-top: 10vh;

    & .service {
      background-color: map-get($colors, "primary-light");
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 6vh 0;
      margin-top: 6vh;
      & .service-title h4 {
        font-size: map-get($font-size, "header-card");
        font-weight: 500;
        letter-spacing: 1px;
      }
      & ul li {
        padding: 2vh 2vw;
        margin-top: 4vh;
        font-size: map-get($font-size, "main-font");
      }
      & .content-price {
        padding-top: 6vh;
        p {
          font-size: 22px;
          font-weight: 600;
        }
      }
      & .content-button-cita {
        padding-top: 4vh;
        & button {
          border: none;
          background: none;
          border: 2px solid map-get($colors, "accent-light");
          border-radius: 50px;
          color: map-get($colors, "primary-text");
          font-size: map-get($font-size, "main-font");
          font-weight: 600;
          padding: 2vh 12vw;
        }
      }
    }
  }
  & .App-contact {
    padding-top: 20vh;

    .App-contact-content-title {
      text-align: center;
      & h1 {
        font-size: map-get($font-size, "title");
        font-weight: 600;
      }
    }

    .App-contact-content-form {
      padding: 10vh 3vw;
      .content-input {
        & div {
          position: relative;
        }
        #error-message {
          color: rgb(200, 31, 31);
          display: block;
          font-size: 14px;
          opacity: 0;
          position: absolute;
          bottom: -30px;
        }
        #error-message.show {
          opacity: 1;
        }
        & input {
          border-radius: 50px;
        }
        & input,
        & textarea {
          background-color: map-get($colors, "back-input");
          border: 0px;
          font-size: 17px;
          padding: 1.5vh 2vw;
          width: 100%;
        }
        & div,
        & label {
          display: block;
          letter-spacing: 1px;
          margin-bottom: 1vh;
        }
        & div:not(div:first-child) {
          margin-top: 6vh;
        }
      }
      .content-button-send-mail {
        display: flex;
        justify-content: center;
        padding-top: 5vh;
        position: relative;
        & button {
          border: none;
          background: none;
          background-color: map-get($colors, "accent-light");
          border-radius: 50px;
          color: map-get($colors, "primary-text");
          font-size: map-get($font-size, "main-font");
          font-weight: 600;
          padding: 2vh 12vw;
        }
        & #error-submit {
          color: rgb(200, 31, 31);
          display: block;
          font-size: 18px;
          position: absolute;
          bottom: -30px;
          opacity: 0;
        }
        & #error-submit.show {
          color: rgb(200, 31, 31);
          display: block;
          font-size: 18px;
          position: absolute;
          bottom: -30px;
          opacity: 1;
        }
      }
    }
  }
}

//Footer//////
.App-footer {
  padding-bottom: 8vh;
  & .App-footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    & .App-footer-content-social-media {
      display: flex;
      justify-content: space-around;
      width: 50%;
    }
    & .App-footer-content-derechos {
      padding-top: 5vh;
      & .autor {
        text-align: center;
        & h6 {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .space-style {
    padding: 0 10vw;
  }

  .App-hero-content {
    background-position: top;
  }
}

@media only screen and (min-width: 1024px) {
  .space-style {
    padding: 0 4vw;
  }

  //////////////

  .container-header-hero {
    & .App-header {
      opacity: 1;

      .App-nav-links {
        display: flex;
        justify-content: center;
        // height: 10vh;
        padding: 3vh 0;
        opacity: 1;
        & .App-nav-content-links {
          display: flex;
          flex-direction: row;
          width: 50%;
          justify-content: space-around;
          & .content-li-border-bottom  {
            position: relative;
            & img {
              position: absolute;
              bottom: -2vh;
            }
          }
        }
      }
      .content-button-nav {
        // border: 2px solid red;
        position: absolute;
        top: 3vh;
        right: 3vw;
        width: 48px;
        height: 48px;
        opacity: 0;
        & .iconify {
          transition: all linear .3s;
          display: block;
        }
        & svg {
          position: absolute;
          width: 100%;
          height: 100%;
        }
        & .open-icon.close {
          opacity: 0;
        }
        & .close-icon {
          opacity: 0;
        }
        & .close-icon.open {
          opacity: 1;
        }
      }
    }
    & .App-hero {
      & .App-hero-content {
        & .App-hero-content-info-action {
          & .App-hero-info {
            align-items: flex-start;
            width: 40vw;
            height: auto;
            padding-top: 10vh;
          }

          .App-action {
            & .content-button-contact {
              padding-top: 5vh;
              & button {
                padding: 2vh 4vw;
              }
            }
          }
        }
        & .App-hero-content-image {
          & .content-image {
            transform: translateY(-110vh) translateX(15%);
            padding-top: 0vh;
            & img {
              transform: scale(0.8);
            }
          }
        }
        & .App-hero-content-scroll {
          opacity: 1;
          transform: scale(.7);
        }
      }
    }
  }

  ////////

  .App-about-me {
    padding: 40vh 0 60vh 0;
    & .App-about-me-content {
      & .App-about-me-header {
        & .App-about-me-photo {
          padding-top: 10vh;
          & img {
            transform: scale(1) rotate(-25deg);
          }
        }
        & .App-about-me-title {
          text-align: end;
        }
      }
      & .about-me-info {
        padding: 10vh 25vw 10vh 2vw;
        & p {
          font-size: map-get($font-size, "main-font");
        }
      }
      & .wrapper-title-portfolio {
        & .about-me-title-portfolio {
          background: url("../assets/rollo-portfolio.png");
          background-size: cover;
          color: map-get($colors, "primary-light");
          display: flex;
          justify-content: center;
          padding: 4vh 0;
          margin-top: 20vh;
          width: 50vw;
        }
      }

      & .about-me-title-portfolio h1 {
        font-weight: 600;
        letter-spacing: 1px;
      }
    }
  }

  .App-portfolio {
    background-color: map-get($colors, "back-portfolio");
    & .App-portfolio-content-img-title {
      transform: translate(-15%, -25%) scale(1);
    }

    & .App-portfolio-content-img-title img {
      width: 100%;
    }
  }

  .App-portfolio-content-photos {
    transform: scale(0.9);
    & .portfolio-content-photos:nth-child(2n + 1) {
      transform: rotate(4deg) translateY(-20%);
    }

    & .portfolio-content-photos:nth-child(2n + 2) {
      transform: rotate(-3deg) scale(0.6);
    }
  }

  .App-testimony {
    background-color: map-get($colors, "complementary-dark");
    padding: 20vh 0;

    & .App-testimony-clients {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      gap: 20vh 5vw;
      padding-top: 15vh;
    }
    & .App-testimony-header h1 {
      color: map-get($colors, "primary-light");
      text-align: center;
      font-size: map-get($font-size, "title");
      font-weight: 600;
      letter-spacing: 1px;
    }

    .testimony:nth-child(1) {
      transform: scale(0.8) rotate(-3deg) translateY(-10%);
    }

    .testimony:nth-child(2) {
      transform: scale(0.8) rotate(-2deg);
    }

    .testimony:nth-child(3) {
      transform: scale(0.8) rotate(2deg) translateY(10%);
    }

    .testimony {
      background: url("../assets/card-paper.png");
      background-size: cover;
      color: map-get($colors, "primary-text");
      height: 70vh;
      padding: 8vh 6vw;
      margin-top: 6vh;
      transform: scale(0.8);
      & h4 {
        padding-top: 2vh;
        text-align: center;
        font-size: map-get($font-size, "header-card");
        letter-spacing: 1px;
      }
    }
  }

  ///
  .wrapper-service-footer {
    background: url("../assets/back-services.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: map-get($colors, "primary-text");
    padding: 10vh 0 0 0;

    .App-service-content-title {
      text-align: center;
      & .service-content-title h1 {
        font-size: map-get($font-size, "title");
        font-weight: 600;
        letter-spacing: 1px;
      }
      & .service-content-title h4 {
        font-size: map-get($font-size, "main-font");
        margin-top: 2vh;
        font-weight: 500;
        letter-spacing: 1px;
      }
    }

    .App-service-content-services {
      padding: 10vh 10vw;
      & .service {
        & .content-button-cita {
          & button {
            padding: 2vh 5vw;
          }
        }
      }
    }
    & .App-contact {
      padding-top: 20vh;
      .App-contact-content-form {
        padding: 10vh 20vw;
        .content-button-send-mail {
          & button {
            padding: 2vh 6vw;
          }
        }
      }
    }
  }

  ///////////////////
}
